@charset "utf-8";
*{
    margin:0;
    padding:0;
    letter-spacing:1.5px;
}
body{
    width:100%;
    margin:0 auto;
    }
header{
    height:90px;
    background-color:rgba(34, 49, 52, 0.9);
    border-bottom:1px solid #CCCCCC;
}
.header-left{ 
    display:flex;
}
.header-logo{
    height:90px;
    display:inline-block;
    margin-left:10px;
}
.header-title{
    color:white;
    margin-top:30px;
    margin-left:4px;
    font-family:'Alegreya Sans SC', sans-serif;
    font-size:25px;
}
.navi{
    height:55px;
    background-color:rgba(34,49,52,0.9);
    display:inline-block;
    width:100%;
    display:flex;
    border-top:1px solid #CCCCCC;
    border-bottom:1px solid #CCCCCC;
}
.fixed {
  position:sticky;
  width: 960px;
  top: 0;
  z-index: 1000;
}
.menu{
    border-left:1px dashed white;
    height:55px;
    line-height:55px;
    width:20%;
}
.menu:hover{
        background-color:rgba(73,104,110,0.9);
        transition:background-color 0.5s;
    }
.menu a{
    color:white;
    display:inline-block;
    width:100%;
    text-align:center;
    text-decoration:none;
}
.home{
    border-left:none;
}
footer{
    background-color:rgba(34,49,52,0.9);
    height:90px;
}
footer p{
    width:100%;
    height:90px;
    line-height:90px;
    text-align:center;
    color:#F8F9F9;
}
