.top{
	height:400px;
    	background-image:url("メイン-5.jpg");
    	background-size:cover;
}
.research-main{
	color:#333;
	padding-bottom: 30px;
	height:auto;
}
.research-main p{
	font-size: 20px;
}
.research-title{
	width:100%;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	border-bottom:2px solid #333;
}
ol {
	list-style-type: decimal;
	margin-left: 30px;
	padding-left: 16px;
}
ul{
	list-style: none;
	padding-left: 16px;
}
li{
	margin-top: 20px;
	font-size: 20px;
}
p{
	margin-top: 24px;
	padding-left: 16px;
}
.research-title-third{
	margin-top: 50px;
}
.research-img{
	display: block;
	margin:40px auto 0 auto;
	object-fit: cover;
}
