@charset "utf-8";
@media screen and (max-width:670px){
	.navi, .menu{
		height:80px ;
	}
	
	.menu a{
		line-height: 80px;
		font-size: 26px;
	}
	.home-menu-title{
		font-size: 26px;
	}
	.research-title{
		font-size:28px;	
	}
	li{
		font-size:23px;	
	}
	.research-title-thir{
		font-size:23px;
	}
}
